@import '~/components/Theme/Theme.module.scss'; 

@include themify() {
    .default {
        color: inherit;
    }
    
    .primary {
        color: themed-color('text', 'primary');
    }
}

.text {
    font-family: Outfit, sans-serif;
    font-weight: 300;
}

.heading-l {
    font-size: 32px;
    font-weight: 500;
}

.heading-m {
    font-size: 24px;
    font-weight: 500;
}

.heading-s {
    font-size: 20px;
    font-weight: 500;
}

.heading-xs {
    font-size: 18px;
    font-weight: 500;
}

.body-m {
    font-size: 15px;
}

.body-s {
    font-size: 13px;
}
